$primaryColor: #6495ED;
$secondaryColor:#fbfbfb;
$textColor: #2d3436;

@mixin mediaLg{
    @media screen and (max-width: 1080px) {
        
    }
}

@mixin mediaMd{
    @media screen and (max-width: 940px){
        @content;
    }
}

@mixin mediaSm{
    @media screen and (max-width: 600px)
    {
        @content;
    }
}