$primaryColor: #70C1ff;
$secondaryColor:#fbfbfb;
$textColor: #2d3436;

@mixin mediaMd{
    @media screen and (max-width: 960px){
        @content;
    }
}

@mixin mediaSm{
    @media screen and (max-width: 576px)
    {
        @content;
    }
}