
.about{
    display: flex;
    justify-content: space-between;
    
    margin: 0px $generalPadding;
   
    &-des{
        max-width: 600px;
        padding: 0px 32px;

    }
    .container-img{
        border: 2px solid #eee;
        width: 400px;
        height: 400px;
        .about-img{
            height: inherit;
            object-fit: scale-down;
            object-position: center;
        }
    }
}

#homeEditorDesc{
    .container-img{
        width: 600px;
        height: auto;
        .about-img{
            height: auto;
            width: inherit;
        }
    }
}

@include mediaMd{

    .about{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        margin: 0 32px;

        #end-s{
            margin: 0px;
            margin-top: 50px;
            
        }

           
        &-des{
            height: auto;
            //padding-right: 100px;
            text-align: justify;
            margin: 40px 0px 75px 0px;

            h2{
                text-align: center;
            }

        }

    }

    #homeEditorDesc{

        .colorChoose{
            width: 100%;
        }
        .container-img{
            width: auto;
            height: 500px;
            .about-img{
                //width: auto;
                height: inherit;
                content: url("../img/homeEditorMobile.jpg");
            }
        }
    }
}