
.about{
    display: flex;
    justify-content: space-between;
    
    margin: 100px 96px;
    //border-top: 2px solid $primaryColor;
   
    &-des{
        max-width: 600px;
        //max-width: 600px;
        //padding-right: 100px;
        //margin: 75px 100px 0px 0px;
        //padding: 75px 100px 0 0 ;
        padding: 75px 0px 0 0 ;

    }
    .container-img{
        width: 400px;
        height: 400px;

        .about-img{
                width: inherit;
                height: inherit;
            //background-color: rgba($color: $primaryColor, $alpha: 1.0);
            background: url("../img/img4.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            //border-radius: 50%;
            /*
            background-position: center;
            border: 1px solid $primaryColor;
            */
            //margin: -50px;
        }
    }
}

@include mediaMd{

    .about{
        flex-direction: column-reverse;

        #end-s{
            margin: 0px;
            margin-top: 50px;
            
        }

           
        &-des{
            height: auto;
            width: 60%;
            //padding-right: 100px;
            text-align: center;
            margin: 40px 0px 75px 0px;

        }

    }
}