*{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    color: $textColor;
    
}
div{
    overflow: hidden;
}
h2{
    margin-bottom: 20px;
    color: $primaryColor;
    font-weight: 600;
}

p{
    font-weight: 400;
    color: #aaa;
}
