//$primaryColor: #6495ED;
$primaryColor: #555;
$secondaryColor:#fbfbfb;
$primaryTextColor: #555;
$secondaryTextColor: #eee;
$textColor: #2d3436;

@mixin mediaLg{
    @media screen and (max-width: 1080px) {
        
    }
}

@mixin mediaMd{
    @media screen and (max-width: 940px){
        @content;
    }
}

@mixin mediaSm{
    @media screen and (max-width: 600px)
    {
        @content;
    }
}