//$primaryColor: #6495ED;
$primaryColor: #555;
$secondaryColor:#fbfbfb;
$primaryTextColor: #555;
$secondaryTextColor: #eee;
$textColor: #2d3436;
$generalPadding: 96px;

@mixin mediaLg{
    @media screen and (max-width: 1080px) {
        
    }
}

@mixin mediaMd{
    @media screen and (max-width: 940px){
        @content;
    }
}

@mixin mediaSm{
    @media screen and (max-width: 600px)
    {
        @content;
    }
}

@mixin compAnimation($value, $time, $curve){
    -webkit-animation: $value $time $curve;
    -moz-animation: $value $time $curve;
    -o-animation: $value $time $curve;
}

@mixin compTransition($value, $time, $curve){
    -webkit-transition: $value $time $curve;
    -moz-transition: $value $time $curve;
    -o-transition: $value $time $curve;
}