$footerTextColor :#999;

nav{
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: rgba($color: #fff, $alpha: 0);
    transition: background-color 300ms ease-in-out;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 16px $generalPadding;
        a{
            color: $primaryTextColor;
            font-weight: 600;
        }

        a:hover{
            color: $secondaryTextColor;
        }
    
        #mobileNavButton{
            display: none;
        }
        #nav-branding{
            a{
                font-weight: 400;
            }
            margin: 0;
        }
        ul{
            display: flex;
            align-items: baseline;
            justify-content: center  ;
    
            li{
                font-size: 17px;
                padding-top: 10px;
                padding-bottom: 8px;
                margin: 0px 20px;
            }
        }
    }
}

.scrolledNav{
    position: fixed;
    background-color: white;
    animation: slideInNav 300ms ease-in-out;
}

@keyframes slideInNav{
    0%{ transform: translate(0, -80px)}
    100%{transform: translate(0, 0px)}

}

footer{
    width: 100%;
    background-color: #eee;
    * {
        color: $primaryTextColor;
    }

    .flex-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}

.card{
    width: 250px;
    margin: 16px 0;
    .container{
        width: 250px;
        .card-item{
            display: flex;
            margin: 16px 0px;
            ion-icon{
                margin: 3px 8px 3px 0px;
            }
        }

        .link-item{
            margin-bottom: 24px;
        }
    
        .input{
            margin: 12px 0px;
            &-textarea{
                padding: 8px;
            }
        }
        #input-button{
            display: flex;
            justify-content: center;
            padding: 8px 24px;
            font-weight: 700;
            color: $footerTextColor;
            text-decoration: none;
            background-color: $textColor;
            border: 2px solid #222;
            width: 100%;
            
        }

    }
}

@include mediaMd{

    .scrolledNav{
        animation: none;
    }

    nav{
        background-color: white;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        //position: relative;
        //overflow: hidden;
        //background-color: $primaryTextColor;
        //height : auto;
        //padding: 0px;

        .container{
            #mainNav{
                position: fixed;
                padding-top: 100px ;
                height: 100%;
                width: 200px;
                top: 0px;
                right: 0px;
                background-color: white;
                transform: translate(200px, 0px);
                transition: transform 300ms ease-in-out;

            }
    
            #mobileNavButton{
                display: block;
                position: absolute;
                overflow: hidden;
                right: 15px;
                top: 12px;
                width:50px;
                height: 50px;
                .bar{
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 3px;
                    background: $primaryTextColor;
                    right: 0px;
                    z-index: 10;
                    transition: transform 0.5s, opacity 0.5s, top 0.5s;
                }
                
            }
    
            .navUnselected{
                #bar1{
                    top:10px;
                }
                #bar2{
                    top: 20px;
                    opacity: 1;
                }
                #bar3{
                    top: 30px
                }
            }
            .navSelected{
                .bar{
                    position: absolute;
                    z-index: 10;
                    top: 20px;
                }
                #bar2{
                    opacity: 0;
                }
                #bar1{
                    transform: rotate(135deg);
                }
                #bar3{
                    transform: rotate(-135deg);
                }
            }
    
            #nav-branding{
                width: 100%;
                text-align: center;
                //padding: 10px 0;
                margin: 0px 0px 7px 0px;
            }
        
            ul{
                display: flex;
                position: relative;
                flex-direction: column;
                justify-content: start;
                width: 100%;
                //height: auto;
                li{
                    width: 100%;
                    text-align: center;
                    margin: 0px;
                }
            }
        }
    }
}